services:
  order-service:
    build: ./order-service
    container_name: order-service
    environment:
      APP_PORT: 8080
      DB_URL: jdbc:postgresql://order-db-server:5432/order_service_db
      DB_USER: order_service
      DB_PASSWORD: order_service_pwd
      KAFKA_SERVER_URLS: kafka:9091
    depends_on:
      - order-db-server
      - kafka

  order-db-server:
    image: postgres:18.1-alpine3.23
    container_name: order-db-server
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: order_service
      POSTGRES_PASSWORD: order_service_pwd
      POSTGRES_DB: order_service_db
    volumes:
      - ./order-service-db/data:/var/lib/postgresql/data
      - ./order-service-db/init.sql:/docker-entrypoint-initdb.d/init.sql

  execution-service:
    build: ./execution-service
    container_name: execution-service
    environment:
      APP_PORT: 8080
      DB_URL: jdbc:postgresql://execution-db-server:5432/execution_service_db
      DB_USER: execution_service
      DB_PASSWORD: execution_service_pwd
      KAFKA_SERVER_URLS: kafka:9091
    depends_on:
      - execution-db-server
      - kafka

  execution-db-server:
    image: postgres:18.1-alpine3.23
    container_name: execution-db-server
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: execution_service
      POSTGRES_PASSWORD: execution_service_pwd
      POSTGRES_DB: execution_service_db
    volumes:
      - ./execution-service-db/data:/var/lib/postgresql/data
      - ./execution-service-db/init.sql:/docker-entrypoint-initdb.d/init.sql

  payment-service:
    build: ./payment-service
    container_name: payment-service
    environment:
      APP_PORT: 8080
      DB_URL: jdbc:postgresql://payment-db-server:5432/payment_service_db
      DB_USER: payment_service
      DB_PASSWORD: payment_service_pwd
      KAFKA_SERVER_URLS: kafka:9091
    depends_on:
      - payment-db-server
      - kafka

  payment-db-server:
    image: postgres:18.1-alpine3.23
    container_name: payment-db-server
    ports:
      - "5435:5432"
    environment:
      POSTGRES_USER: payment_service
      POSTGRES_PASSWORD: payment_service_pwd
      POSTGRES_DB: payment_service_db
    volumes:
      - ./payment-service-db/data:/var/lib/postgresql/data
      - ./payment-service-db/init.sql:/docker-entrypoint-initdb.d/init.sql

  analytics-service:
    build: ./analytics-service
    container_name: analytics-service
    ports:
      - "8080:8080"
    environment:
      ORDER_SERVICE_URL: http://order-service:8080
      APP_PORT: 8080
      DB_URL: jdbc:postgresql://analytics-db-server:5432/analytics_service_db
      DB_USER: analytics_service
      DB_PASSWORD: analytics_service_pwd
      KAFKA_SERVER_URLS: kafka:9091
    depends_on:
      - analytics-db-server
      - kafka

  analytics-db-server:
    image: postgres:18.1-alpine3.23
    container_name: analytics-db-server
    ports:
      - "5436:5432"
    environment:
      POSTGRES_USER: analytics_service
      POSTGRES_PASSWORD: analytics_service_pwd
      POSTGRES_DB: analytics_service_db
    volumes:
      - ./analytics-service-db/data:/var/lib/postgresql/data
      - ./analytics-service-db/init.sql:/docker-entrypoint-initdb.d/init.sql

  kafka:
    image: apache/kafka:4.1.1
    container_name: kafka-single-node
    environment:
      # KAFKA_CLUSTER_ID is auto-generated by Kafka in the latest images for single-node setup
      KAFKA_NODE_ID: 1
      KAFKA_LISTENERS: EXTERNAL://:9092,CONTROLLER://:9093,INTERNAL://:9091
      KAFKA_ADVERTISED_LISTENERS: EXTERNAL://localhost:9092,INTERNAL://:9091
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-single-node:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_PROCESS_ROLES: broker,controller

  # Optional: A web UI to manage Kafka
  kafka-ui:
    image: provectuslabs/kafka-ui:v0.7.2
    container_name: kafka-ui
    ports:
      - "8085:8080"
    restart: always
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9091
      DYNAMIC_CONFIG_ENABLED: true
    depends_on:
      - kafka

volumes:
  kafka_data:
